<?xml version="1.0"?>
<launch>

<node name="highrate_pub" pkg="topic_throttle" type="highrate_pub.py"
    output="screen"/>
<node name="imu_sub_cpp" pkg="topic_throttle" type="imu_sub"
    output="screen"/>

<!-- TODO(lwalter) add another node to analyze rates of topics,
  and note how old the messages making it out of the throttle are -->

</launch>
